{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">List of vehicles</h1>
    <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Type of vehicle</th>
                <th>Brand</th>
                <th>Pictures</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.matricule }}</td>
                <td>{{ vehicule.typeVehicule }}</td>
                <td>{{ vehicule.marqueVehicule }}</td>
                <td>
                    {% set typeValue = vehicule.typeVehicule|default('')|lower %}
                    {% set brandValue = vehicule.marqueVehicule|default('')|lower %}
                    
                    {% set imageUrl = asset('imageV/default.png') %}
                    {% if typeValue == 'voiture' and brandValue == 'kia' %}
                        {% set imageUrl = asset('imageV/kia1.png') %}
                    {% elseif typeValue == 'voiture' and brandValue == 'peugeot' %}
                        {% set imageUrl = asset('imageV/peugeot.png') %}
                    {% elseif typeValue == 'voiture' and brandValue == 'volkswagen' %}
                        {% set imageUrl = asset('imageV/volswagen.png') %}
                    {% elseif typeValue == 'van' and brandValue == 'kia' %}
                        {% set imageUrl = asset('imageV/vankia.png') %}
                    {% elseif typeValue == 'van' and brandValue == 'peugeot' %}
                        {% set imageUrl = asset('imageV/vanpeugeot.png') %}
                    {% elseif typeValue == 'van' and brandValue == 'volkswagen' %}
                        {% set imageUrl = asset('imageV/vanvols.png') %}
                    {% endif %}
                    
                    <img src="{{ imageUrl }}" alt="Vehicle Image" style="max-width: 120px; max-height: 120px;">
                </td>
                <td>
                    <a href="{{ path('app_location_vehicule_new', {'matricule': vehicule.matricule}) }}">Book Now</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
